{% macro mediaBox(settings) %}

	{% set resourceUrl = settings.resourceUrl ?? null %}
	{% set resourceAltText = settings.resourceAltText ?? null %}
	{% set heading = settings.heading ?? null %}
	{% set body = settings.body ?? null %}

	<div class="sprout-mediabox-outer">
		<div class="sprout-mediabox-inner">
			<div class="sprout-mediathumb">
				<img src="{{ resourceUrl }}" alt="{{ resourceAltText }}" />
			</div>
			<div class="sprout-mediabody">
				<h2>{{ heading }}</h2>
				<hr>
				<p>{{ body|raw }}</p>
			</div>
		</div>
	</div>

{% endmacro %}

{% macro helpVideo(settings) %}

	{% set heading = settings.heading %}
	{% set description = settings.description %}
	{% set videoUrl = settings.videoUrl %}

	<div class="pane sprout-docbox sprout-video-wrapper">

		<div class="sprout-mediabox">
			<a href="{{ videoUrl }}" class="sprout-videothumb"></a>
		</div>

		<div class="sprout-mediabody">
			<h2>{{ heading }}</h2>
			<hr>
			<p class="light">{{ description|raw }}</p>
		</div>

	</div>

	<style>
		.sprout-mediabody hr {
			margin: 8px 0;
		}

		.sprout-videothumb {
			border: 1px solid #e3e5e8;
			border-radius: 4px;
			background-color: #0d78f2;
			display: block;
			height: 120px;
			margin-bottom: 1rem;
			width: 100%;
		}
		
		.sprout-docbox,
		.sprout-docbox * {
			box-sizing: border-box;
		}
		
		@media (min-width: 640px) {
			.padded > .pane.sprout-docbox,
			[data-colspan="2"] .sprout-docbox,
			[data-min-colspan="2"] .sprout-docbox,
			[data-colspan="3"] .sprout-docbox,
			[data-min-colspan="3"] .sprout-docbox {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
			}
			
			.padded > .pane.sprout-docbox .sprout-mediabox,
			[data-colspan="2"] .sprout-mediabox,
			[data-min-colspan="2"] .sprout-mediabox,
			[data-colspan="3"] .sprout-mediabox,
			[data-min-colspan="3"] .sprout-mediabox,
			.single-pane .sprout-video-wrapper .sprout-mediabox {
				flex-basis: auto;
				min-width: 30%;
				padding-right: 20px;
			}
			
			.padded > .pane.sprout-docbox .sprout-mediabody,
			[data-colspan="2"] .sprout-mediabody,
			[data-min-colspan="2"] .sprout-mediabody,
			[data-colspan="3"] .sprout-mediabody,
			[data-min-colspan="3"] .sprout-mediabody,
			.single-pane .sprout-video-wrapper .sprout-mediabody {
				flex-basis: auto;
				width: 70%;
				padding-right: 20px;
			}
			
			.padded > .pane.sprout-docbox .sprout-mediabox + .sprout-mediabody,
			[data-colspan="2"] .sprout-mediabox + .sprout-mediabody:last-child,
			[data-min-colspan="2"] .sprout-mediabox + .sprout-mediabody:last-child,
			[data-colspan="3"] .sprout-mediabox + .sprout-mediabody:last-child,
			[data-min-colspan="3"] .sprout-mediabox + .sprout-mediabody:last-child,
			.single-pane .sprout-video-wrapper .sprout-mediabody:last-child {
				padding-right: 0;
			}
			
			[data-colspan="2"] .sprout-videothumb,
			[data-min-colspan="2"] .sprout-videothumb,
			[data-colspan="3"] .sprout-videothumb,
			[data-min-colspan="3"] .sprout-videothumb,
			.single-pane .sprout-video-wrapper .sprout-videothumb {
				margin-bottom: 0;	
			}
			
			.single-pane .sprout-video-wrapper {
				display: flex;
				margin-bottom: 24px;
			}
		}
	</style>
{% endmacro %}

{# Help Video Macro
{{ sprout.helpVideo({
	heading: "Thing or two about things."|t,
	description: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
			<a href="#" style="font-weight: bold;">Watch our video</a> nascetur ridiculus mus. Donec quam felis, ultricies
			nec arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis
			pretium. <a href="#" style="font-weight: bold;">Learn more&hellip;</a>'|t,
	videoUrl: "http://barrelstrengthdesign.com"
}) }}

<br>
#}
