{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Related Minimum"|t('sprout-import'),
    instructions: "Minimum number of relations to generate."|t('sprout-import'),
    name: 'fields[entries][relatedMin]',
    value: settings.relatedMin ?? null,
    placeholder: '1',
    size: 10,
    errors: ''
}) }}

{{ forms.textField({
    label: "Related Maximum"|t('sprout-import'),
    instructions: "Maximum number of relations to generate."|t('sprout-import'),
    name: 'fields[entries][relatedMax]',
    value: settings.relatedMax ?? null,
    placeholder: '3',
    size: 10,
    errors: ''
}) }}