{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Single Line Minimum Lines"|t('sprout-import'),
    instructions: "Minimum number of lines to generate."|t('sprout-import'),
    name: 'fields[plaintext][singleLineLinesMin]',
    value: settings.singleLineLinesMin ?? null,
    placeholder: '2',
    size: 10,
    errors: ''
}) }}

{{ forms.textField({
    label: "Single Line Maximum Lines"|t('sprout-import'),
    instructions: "Maximum number of lines to generate."|t('sprout-import'),
    name: 'fields[plaintext][singleLineLinesMax]',
    value: settings.singleLineLinesMax ?? null,
    placeholder: '4',
    size: 10,
    errors: ''
}) }}

{{ forms.textField({
    label: "Multiline Minimum Paragraphs"|t('sprout-import'),
    instructions: "Minimum number of paragraphs to generate."|t('sprout-import'),
    name: 'fields[plaintext][multilineParagraphsMin]',
    value: settings.multilineParagraphsMin ?? null,
    placeholder: '1',
    size: 10,
    errors: ''
}) }}

{{ forms.textField({
    label: "Multiline Maximum Paragraphs"|t('sprout-import'),
    instructions: "Maximum number of paragraphs to generate."|t('sprout-import'),
    name: 'fields[plaintext][multilineParagraphsMax]',
    value: settings.multilineParagraphsMax ?? null,
    placeholder: '3',
    size: 10,
    errors: ''
}) }}