{% import "_includes/forms" as forms %}

<div class="field element-options {{ id }}" style="display: none">
	{{ forms.selectField({
		id: "sectionType",
		name: "settings[sectionType]",
		label: "Section Types"|t,
		options: [{label: "Select section type..."|t, value: null}]|merge(sections),
		value: settings.sectionType is defined ? settings.sectionType : null,
	}) }}
</div>

<div class="field section-options channel" style="display: none">
	<div class="input">
		{{ forms.select({
			id: "channel",
			name: "settings[channel]",
			label: "Channels"|t,
			options: [{label: "Select a channel..."|t, value: null}]|merge(channels),
			value: settings.channel is defined ? settings.channel : null,
		}) }}

		{{ forms.text({
			id: 'channelNumber',
			name: 'settings[channelNumber]',
			value: '',
			placeholder: 'Number'|t,
			title: 'Minimum allowed quantity'|t,
			size: 3
		}) }}
		<span> {{ 'Enter a number of fake entries.'|t }}</span>
	</div>

</div>

