{% extends "sproutimport/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% if settingsTemplate is not defined or not settingsTemplate %}
	{% set settingsTemplate = 'general' %}
{% endif %}

{% set content %}

	<form method="post" accept-charset="UTF-8" data-saveshortcut data-confirm-unload>
		{{ getCsrfInput() }}
		<input type="hidden" name="action" value="plugins/savePluginSettings">
		<input type="hidden" name="redirect" value="sproutimport/settings/{{ settingsTemplate }}">
		<input type="hidden" name="pluginClass" value="SproutImport">

		{% namespace 'settings' %}
			{% include 'sproutimport/settings/_tabs/' ~ settingsTemplate %}
		{% endnamespace %}

	  <div class="buttons">
	    <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
	  </div>

	</form>

{% endset %}