{% extends "sproutimport/_layouts/settings" %}
{% import "_includes/forms" as forms %}
{% import 'sproutimport/_includes/sproutcp' as sprout %}

{% if settingsTemplate is not defined or not settingsTemplate %}
	{% set settingsTemplate = 'general' %}
{% endif %}

{% set fullPageForm = true %}

{% set content %}
	
	{{ sprout.helpVideo({
		heading: "Thing or two about things."|t,
		description: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
				<a href="#" style="font-weight: bold;">Watch our video</a> nascetur ridiculus mus. Donec quam felis, ultricies
				nec arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis
				pretium. <a href="#" style="font-weight: bold;">Learn more&hellip;</a>'|t,
		videoUrl: "http://barrelstrengthdesign.com"
	}) }}
	
	<input type="hidden" name="action" value="sproutimport/settings/saveSettings">
	<input type="hidden" name="redirect" value="sproutimport/settings/{{ settingsTemplate }}">

	{% namespace 'settings' %}
		{% include 'sproutimport/settings/_tabs/' ~ settingsTemplate %}
	{% endnamespace %}

  <div class="buttons">
    <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
  </div>

{% endset %}