{% extends "sproutimport/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% if settingsTemplate is not defined or not settingsTemplate %}
	{% set settingsTemplate = 'sproutseo' %}
{% endif %}

{% set content %}

	<form method="post" accept-charset="UTF-8" data-saveshortcut data-confirm-unload>
		{{ getCsrfInput() }}

		<input type="hidden" name="action" value="sproutImport/generate/generateRedirectJson">
		<input type="hidden" name="redirect" value="sproutimport/settings/{{ settingsTemplate }}">

		{{ forms.textareaField({
			label: "CSV to JSON Conversion"|t,
			instructions: "Paste CSV data to convert."|t,
			name: 'pastedCSV',
			value: pastedCSV ?? null,
			errors: csvError ?? null,
			rows: 20,
			first: true
		}) }}

		{% if json is defined %}
			<h2>JSON Format</h2>
			<pre>{{ json }}</pre>
		{% endif %}

	  <div class="buttons">
	    <input class="btn submit" type="submit" value="{{ 'Generate JSON'|t }}">
	  </div>

	</form>

{% endset %}