{{ forms.textField({
	label: "Plugin Name"|t,
	instructions: "Intuitive, human-readable plugin name for the end user."|t,
	id: 'pluginNameOverride',
	name: 'pluginNameOverride',
	value: settings.pluginNameOverride,
	autofocus: true,
	first: true,
	errors: ''
}) }}

{{ forms.textField({
	label: 'Batch Size'|t,
	instructions: 'The number of imported items to group together in a task. When importing or seeding the database with memory-intensive content you may want to raise this number. i.e. 100 Elements imported with a Batch Size of 100 will create 100 tasks.',
	name: 'batch',
	placeholder: '10'|t,
	value: (settings.batch is defined ? settings.batch : 10),
	errors: (settings is defined ? settings.getErrors('batch') : null),
	size: 4,
	first: true
}) }}
