{{ forms.textField({
	label: "Plugin Name"|t,
	instructions: "Intuitive, human-readable plugin name for the end user."|t,
	id: 'pluginNameOverride',
	name: 'pluginNameOverride',
	value: settings.pluginNameOverride,
	autofocus: true,
	first: true,
	errors: ''
}) }}

{{ forms.textField({
	label: 'Batch'|t,
	instructions: '',
	name: 'batch',
	placeholder: '10'|t,
	value: (settings.batch is defined ? settings.batch : 10),
	errors: (settings is defined ? settings.getErrors('batch') : null),
	size: 4,
	first: true
}) }}
