{% import "_includes/forms" as forms %}

<div class="field element-options {{ id }}" style="display: none">

	<div class="input">
		{{ forms.select({
			id: "channel",
			name: "settings[channel]",
			label: "Channels"|t,
			options: [{label: "Select a channel..."|t, value: null}]|merge(channels),
			value: settings.channel is defined ? settings.channel : null,
		}) }}

		{{ forms.text({
			id: 'channelNumber',
			name: 'settings[channelNumber]',
			value: '',
			placeholder: 'Number'|t,
			size: 3
		}) }}
		<span> {{ 'Enter a number of fake entries.'|t }}</span>
	</div>

</div>

