{% extends "_layouts/cp" %}

{% set title  = "Settings" %}

{% set subnav = {
  index: {
    label: "Import"|t,
    url: url('sproutimport/index')
  },
  seed: {
    label: "Seed"|t,
    url: url('sproutimport/seed')
  },
  weed: {
    label: "Weed"|t,
    url: url('sproutimport/weed')
  },
  settings: {
    label: "Settings"|t,
    url: url('sproutimport/settings/general')
  }
} %}

{% set selectedSubnavItem = craft.request.segment(2) %}
{% set selectedSidebarItem = craft.request.segment(3) %}

{% set sidebar %}

  <nav class="last">
    <ul>
      <li><a href="{{ url('sproutimport/settings') }}" {% if selectedSidebarItem == 'general'
        %}class="sel"{% endif %}>General</a></li>
    </ul>
  </nav>

{% endset %}
