{% extends "sproutimport/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set title = 'Import' %}

{% set content %}

	<form method="post" accept-charset="utf-8" enctype="multipart/form-data">

		{{ getCsrfInput() }}

		<input type="hidden" name="action" value="sproutImport/import/runImport">

		<div class="field first" id="files-field">
			<div class="heading">
				<label for="files">Files</label>
			<div class="instructions"><p>Select one or more <strong>JSON</strong> encoded files.</p>
		</div>

		</div>
			<div class="input"><input type="file" multiple id="files" name="files[]"></div>
		</div>

		{{ forms.lightswitchField({
			label: "Seed data"|t,
			instructions: "Mark your imported data as seed data. Seed data can later be removed via the Weed tab."|t,
			on: false,
			name: 'seed'
		}) }}

		<button class="btn submit" type="submit">Import Elements</button>
	</form>

{% endset %}
