{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = 'Import Data' %}

{% set selectedTab = 'data' %}

{% set tabs = {
	data: {
		label: "Import Data"|t,
		url: url('sproutimport/index')
	},
	weed: {
		label: "Weed"|t,
		url: url('sproutimport/weed')
	},
	mock: {
		label: "Generate Data"|t,
		url: url('sproutimport/generatedata')
	}
} %}

{% set content %}

	<form method="post" accept-charset="utf-8" enctype="multipart/form-data">

		{{ getCsrfInput() }}

		<input type="hidden" name="action" value="sproutImport/importElements">

		<div class="field first" id="files-field">
			<div class="heading">
				<label for="files">Files</label>
			<div class="instructions"><p>Select one or more <strong>JSON</strong> encoded files.</p>
		</div>

		</div>
			<div class="input"><input type="file" multiple id="files" name="files[]"></div>
		</div>

		{{ forms.lightswitchField({
			label: "Seed database"|t,
			instructions: "Mark your import as Seed content if you want to log each item you import so it can be
			removed later via the Weed tab."|t,
			on: false,
			name: 'seed'
		}) }}

		<button class="btn submit" type="submit">Import Elements</button>
	</form>

{% endset %}
