{% extends "sproutimport/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set title = 'Seed'|t %}

{% block main %}

<div class="grid first" data-max-cols="3">
	<div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">

		<div id="fields" class="pane">

			<form method="post" accept-charset="UTF-8">
				{{ getCsrfInput() }}
				<input type="hidden" name="action" value="sproutImport/seed/generateSeedElements">

				{{ forms.textField({
					label: 'How many items to seed?'|t,
					instructions: 'Total number of content items to import.'|t,
					name: 'quantity',
					placeholder: '11'|t,
					value: (seeds.quantity is defined ? seeds.quantity : ''),
					errors: (seeds is defined ? seeds.getErrors('quantity') : null),
					size: 4,
					first: true
				}) }}

				{{ forms.textField({
					label: 'Batch'|t,
					instructions: '',
					name: 'batch',
					placeholder: '10'|t,
					value: (seeds.batch is defined ? seeds.batch : ''),
					errors: (seeds is defined ? seeds.getErrors('batch') : null),
					size: 4,
					first: true
				}) }}

				{{ forms.selectField({
					label: "Type of Content"|t,
					instructions: "Select the type of content to seed in your database."|t,
					id: "elementType",
					name: "elementType",
					options: elements,
					value: (seeds.elementType is defined ? seeds.elementType : ''),
					errors: (seeds is defined ? seeds.getErrors('elementType') : null),
					hasOptgroups: true
				}) }}

				{# Output settings for each of our Importers #}
				{% for plugin in importers %}
					{% for importer in plugin %}
						{{ importer.getSettingsHtml()|raw }}
					{% endfor %}
				{% endfor %}

				<div class="buttons">
					<button class="btn submit actions">{{ "Generate Content"|t }}</button>
				</div>
			</form>

		</div>
	</div>
	<div class="item" data-position="right" data-colspan="1">

		<div class="pane">
			
			<h2>{{ "Generate fake content"|t }}</h2>

			<p>{{ "Generate content to work with for front-end prototyping, testing large amounts of content, and more. Any seed data generated will be marked and can later be unmarked or removed using the Weed tab."|t }}</p>

			<h6>{{ "Supported Elements"|t }}</h6>

			{% set importers = craft.sproutImport.getSproutImportImporters() %}

			<ul>
			{% for importer in importers %}
				{% if importer.hasSeedGenerator() %}
					<li>{{ importer.getName() }}</li>
				{% endif %}
			{% endfor %}
			</ul>

			<h6>{{ "Supported Fields"|t }}</h6>

			{% set fieldImporters = craft.sproutImport.getSproutImportFieldImporters() %}

			<ul>
				{% for importer in fieldImporters %}
					<li>{{ importer.getName() }}</li>
				{% endfor %}
			</ul>

		</div>
	</div>
</div>

{% endblock %}
