{% extends "sproutimport/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set title = 'Seed' %}

{% set content %}

	<form method="post" accept-charset="UTF-8">

		{{ getCsrfInput() }}

		<input type="hidden" name="action" value="sproutImport/generateElements">

		<div class="field first">
			{{ forms.selectField({
				id: "elementType",
				name: "elementType",
				label: "Type of Content"|t,
				instructions: "Select the type of content you wish to seed in your database. Seeded content and can be removed later using the Weed tab.",
				options: [{label: "Select element..."|t, value: null}]|merge(elements),
				value: elementType is defined ? elementType : null,
			}) }}
		</div>

		{{ settings.elements }}

		<div class="buttons">
			<button class="btn submit actions">Generate</button>
		</div>
	</form>

{% endset %}
