{% extends "sproutimport/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set title = 'Weed' %}

{% set hasSeeds = craft.sproutImport.hasSeeds('import') %}
{% set hasSeedsFake = craft.sproutImport.hasSeeds('fake') %}

{% set content %}

	<form method="post" accept-charset="UTF-8">

		{{ getCsrfInput() }}

		<input type="hidden" name="action" value="sproutImport/seed/weed">
		<input type="hidden" name="redirect" value="sproutimport/weed">
		<input type="hidden" name="type" value="fake">

		<table class="weed data fullwidth">
			<tr>
				<th>Type</th>
				<th>Seeds</th>
				<th></th>
			</tr>
			{% if elementImporters is defined %}
				{% for importer in elementImporters %}
					{% if importer.getSeedCount() > 0 %}
						<tr>
							<td>{{ importer.getElementName() }}</td>
							<td>{{ importer.getSeedCount() }}</td>
							<td>
								<input class="btn small" type="submit" value="Weed">
								<input class="btn small" type="submit" value="Keep">
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			{% endif %}
		</table>

		<div class="buttons">
			<input class="btn submit" type="submit" value="Weed All">
			<input class="btn" type="submit" value="Keep All">
		</div>

	</form>

	<hr>

	<p><strong>{{ "Weed"|t }}</strong> – {{ "Weeding can help clean up your database and remove all imported content that was marked as seed content."|t|raw }}</p>

	<p><strong>{{ "Keep"|t }}</strong> – {{ "If you have imported content marked as seed content and you wish to keep it, using the Keep option will unmark it as seed content in the database so nobody can accidentally remove it using the weed feature. Content that you choose to keep will need to be deleted manually."|t|raw }}</p>

	<style>
		table.weed td:last-of-type {
			text-align: right;
		}
	</style>

{% endset %}
