{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = 'Import Data' %}

{% set selectedTab = 'weed' %}

{% set tabs = {
	data: {
		label: "Import Data"|t,
		url: url('sproutimport/index')
	},
	weed: {
		label: "Weed"|t,
		url: url('sproutimport/weed')
	},
	mock: {
		label: "Generate Data"|t,
		url: url('sproutimport/generatedata')
	}
} %}

{% set hasSeeds = craft.sproutImport.hasSeeds() %}

{% set content %}

	<h2>Clean up database</h2>

	{% if hasSeeds > 0 %}

		<p>There are <strong>{{ hasSeeds }}</strong> seeds to weed.</p>

		<form method="post" accept-charset="UTF-8">
			<input type="hidden" name="action" value="sproutImport/seed/weed">
			<input type="hidden" name="redirect" value="sproutimport/weed">

			<p>Remove all imported data that was marked as seed content.</p>

			<div class="buttons">
				<input class="btn submit" type="submit" value="Weed database">
			</div>

		</form>

	{% else %}

		<p>Currently, there are no seeded elements in your database.</p>

	{% endif %}

{% endset %}
