{% extends "sproutimport/_layouts/base" %}
{% import "_includes/forms" as forms %}
{% import 'sproutimport/_includes/sproutcp' as sprout %}
{% includeCssResource "sproutimport/css/sproutcp.css" %}

{% set title = 'Weed'|t %}

{% set hasSeeds = craft.sproutImport.hasSeeds() %}

{% block main %}

<div class="grid first" data-max-cols="3">
	<div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">
		<div id="fields" class="pane">

			{% if seeds is not empty %}

				<table class="weed data fullwidth">
					<tr>
						<th class="date">Date Imported</th>
						<th class="type">Import Type</th>
						<th class="seeds">Details</th>
						<th class="seeds">Items Imported</th>
						<th class="options">&nbsp;</th>
					</tr>

						{% for seed in seeds %}
							<tr>
								<td>{{ seed['date'] }}</td>
								<td>{{ seed['type'] }}</td>
								<td>{{ seed['details'] }}</td>
								<td>{{ seed['total'] }}</td>
								<td class="options">
									<form method="post" accept-charset="UTF-8">
										{{ getCsrfInput() }}
										<input type="hidden" name="action" value="sproutImport/weed/runWeed">
										<input type="hidden" name="redirect" value="sproutimport/weed">
										<input type="hidden" name="class" value="{{ seed['ids'] }}">
										<input class="btn small" name="submit" type="submit" value="Weed">
										<input class="btn small" name="submit" type="submit" value="Keep">
									</form>
								</td>
							</tr>
						{% endfor %}

				</table>

				<div class="buttons">
					<form method="post" accept-charset="UTF-8">
						{{ getCsrfInput() }}
						<input type="hidden" name="action" value="sproutImport/weed/runWeed">
						<input type="hidden" name="redirect" value="sproutimport/weed">
						<input type="hidden" name="class" value="*">
						<input class="btn submit" name="submit" type="submit" value="Weed All">
						<input class="btn" name="submit" type="submit" value="Keep All">
					</form>
				</div>

			{% else %}

				{{ sprout.mediaBox({
					resourceUrl: resourceUrl('sproutimport/icon.svg'),
					resourceAltText: "Sprout Logo"|t,
					heading: "The garden is weeded"|t,
					body: "Currently, no content or settings in your database are marked as seed content. Get started and <a href='{importLink}'>import content and settings</a> or <a href='{seedLink}'>generate seed content</a>."|t({
						importLink: "index",
						seedLink: "seed"
					})
				}) }}

			{% endif %}

		</div>
	</div>
	<div class="item" data-position="right" data-colspan="1">
		<div class="pane">

			<h2>{{ "Managing seed data"|t }}</h2>

			<p>{{ "This page lists all content and settings that have been imported into your database and marked as seed data. When seed data exists, you can choose to keep or remove this data."|t }}</p>

			<h6>{{ "Weed"|t }}</h6>
			<p class="first">{{ "Select weed to remove all imported content or settings of a particular type."|t|raw }}</p>

			<h6>{{ "Keep"|t }}</h6>
			<p class="first">{{ "Select keep to unmark seed data and continue to manage it as permanent content and settings in Craft."|t|raw }}</p>

		</div>
	</div>
</div>

{% endblock %}

{% includeCssResource "sproutimport/css/sproutimport.css" %}